@use "../bootstrap" as *;

// Styling for the rounded social media links

.social-icons {
  .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

// Styling for the development technology icons
.dev-icons {
  font-size: 3rem;
}

// Inline SVG icons (see src/pug/mixins/icon.pug)
.icon {
  display: inline-block;
  width: auto;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

// List with an icon as bullet
.icon-list {
  list-style: none;
  margin-left: 2.5em;
  padding-left: 0;
  > li {
    position: relative;
  }
}

.icon-list-bullet {
  position: absolute;
  left: -2em;
  width: 2em;
  text-align: center;
  line-height: inherit;
}
